[submodule "llama.cpp"]
	path = llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "argparse"]
	path = argparse
	url = https://github.com/p-ranav/argparse.git
[submodule "minja"]
	path = minja
	url = https://github.com/google/minja.git
